@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

html, body {
  height: 100%;
  /*min-height: 320px;*/
  min-height: 192px;
  min-width: 354px;
  margin: 0;
  background: #3d3d41;
}
body, .screen {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main {
  flex-basis: 400px;
}
main, button {
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 6px;
}
.screen {
  height: 28px;
  color: #54d454;
  font-size: 36px;
  padding: 21px;
  background: #030303;
  margin: 6px;
}
.preset, .control {
  display: flex;
  justify-content: space-between;
}
button {
  height: 32px;
  width: 20%;
  color: #e6e6f3;
  font-size: 15px;
  cursor: pointer;
  background: #1c1c1f;
  border: none;
  margin: 6px;
}
.control button {
  height: 42px;
  flex-grow: 1;
  font-size: 16px;
}
button:hover {
  background: #2c2c30;
}
button:focus {
  outline: none;
}
#display {
  flex-basis: 35%;
  text-align: center;
}
#error, #tune {
  flex-basis: 20%;
  align-self: flex-end;
  font-size: 14px;
  text-align: center;
  opacity: 0;
}
#error {
  color: #f33c3c;
}
#tune {
  transition: opacity 800ms ease-in-out;
}
.blink {
  animation: 1s blink ease-in-out infinite;
}
@keyframes blink {
  0%, 100% {
    color: #e6e6f3;
  }
  50% {
    color: transparent;
  }
}
p {
  font-size: 14px;
  text-align: justify;
  line-height: 1.4;
  color: #1c1c1f;
  margin: 24px 6px 6px;
  display: none;
}
a {
  color: #1c1c1f;
}
a:hover {
  color: #030303;
}